<div class="cou-label-content" style="max-height:{{element.height}}px; overflow: hidden;
     height:{{element.height}}px">
	<span class="label" style="display:inline-block;font-size:{{element.fontSize}}px;color:{{element.fontColor}};font-weight:{{element.fontWeight}};font-style:{{element.fontStyle}};text-decoration:{{element.decoration}};padding:10px 0 ;position:inline;width:{{element.width}}%;height:{{element.height-5}}px;" >Expires:{{element.content}}</span>
	<span class="content" style="display:inline-block;font-size:{{element.fontSize}}px;color:{{element.fontColor}};font-weight:{{element.fontWeight}};font-style:{{element.fontStyle}};text-decoration:{{element.decoration}}">{{elementContents[element.type]}}</span>	
</div>