<div style="height:{{element.height}}px;max-height:{{element.height}}px;overflow: hidden;padding: 15px;"><span class="fa fa-envelope" style="transform: scale(1.8,1.8);
           color: #c52a2a;" data-toggle="modal" data-target="#myModal"></span></a></div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div style="background-color: red;">
        <h4 class="modal-title" style="font-size: 18px;color: white;padding:5px">Smart Source</h4>
        </div>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>