<div style="max-height:{{element.height}}px; overflow: hidden;height:{{element.height}}px
     "><span style="width:{{element.width}}px;height:{{element.height}}px;font-size: {{element.fontSize}}px;padding-right: 10px;">{{element.content[0]}}</span>
     <span style="font-size:{{element.fontSize}}px;color:{{element.fontColor}};font-weight:{{element.fontWeight}};font-style:{{element.fontStyle}};text-decoration:{{element.decoration}} position:inline;width:{{element.width}}%;height:{{element.height}}px;">{{elementContents[element.type]}} {{element.content[1]}} </span>	
     </div>