<p  style="padding:20px; cursor: pointer;" ><i class="fa fa-envelope" aria-hidden="true" style="transform: scale(3,3)" data-toggle="modal" data-target="#myModal"></i></p>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div style="background-color: red;">
        <h4 class="modal-title" style="font-size: 18px;color: white;padding:5px">Smart Source</h4>
        </div>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>